@charset "UTF-8";
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0 auto;
  background-color: white;
}
/*header*/
.header {
  background-color: white;
  position: fixed;
  /*基準を画面の左上に*/
  top: 0;
  left:0;
  /*余白が入らないように*/
  margin: 0;
  /*以下装飾*/
  width: 100%;
}
.navbar {
  max-width: 960px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
}
.nav ul {
  display: flex;
  list-style: none;
}
.nav li {
  margin: 0 20px;
}
.nav a {
  color: dimgray;
  font-size: 20px;
}
a:link {
  color: dimgray;
  text-decoration: none;
}
a:visited {
  color: dimgray;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: underline;
}
/*main*/
.maining {
  background-color: white;
  margin-top:100px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  margin: 0 auto;
  background-color: pink;
}
.lead {
  color: black;
  text-align: center;
}
.lead h1 {
  font-size: 40px;
}
.lead p {
  font-size: 20px;
}
/*title*/
.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 960px;
  min-height: 50px;
  margin: 0 auto;
  flex: 1;
}
.sub_head {
  text-align: center;
}
.sub_head p {
  font-size: 30px;
  padding: 20px;
}
/*content*/
.content {
  margin: 0 auto;
  display: flex;
  max-width: 960px; 
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.section{
  flex-basis:280px ;
  padding: 0 20px;  
}

.image img{
 width:100%;
}
.desc{
  text-align:center ;
  color: black;
  padding:10px 0 ;
  height: 80px;
  
}
.desc p{
  font-size:14px ;
}
/*footer*/
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  background-color: whitesmoke;
  color: black;
}
/*ipad*/
@media (max-width: 768px) {
.navbar {
  flex-direction: column;
  justify-content: space-around;
}
.nav ul {
  flex-wrap: wrap;
}
.nav a {
  color: dimgray;
  
  line-height: 36px;
}
.content{
  flex-direction: column;
}
.section{
  flex-basis:360px ;
  padding: 0 40px; 
}
.section img{
  width:100%;  
}

}
/*phone*/
@media (max-width:767px) {
.navbar {
  flex-direction: column;
  justify-content:space-around;
}
.nav ul {
  flex-wrap: wrap;
}
.nav a {
  color: dimgray;
  font-size: 18px;
  line-height: 36px;
}
.sub_head p {
  font-size: 22px;
}
.maining {
  background-color: white;
  margin-top:100px;
}
.content{
  flex-direction: column;
}
.section{
  flex-basis:360px ;
  padding: 0 40px;  
}
.section img{
  width:100%;  
}


}