@charset "UTF-8";
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0 auto;
  background-color: white;
}
#header_wrapper {
  width: auto;
  background-color: white;
}

.header {
  width: 960px;
  height: 130px;
  clear: both;
  background-color: white;
  margin: 0 auto;
}
.navi {
  width: 620px;
  height: 130px;
  float: right;
  padding-right: 30px;
}
.navi ul {
  float: right;
}
.navi li {
  padding: 40px 20px;
  float: left;
  list-style: none;
  font-size: 20px;
}
a:link {
  color: dimgray;
  text-decoration: none;
}
a:visited {
  color: dimgray;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: underline;
}
#content_wrapper {
  width: auto;
  clear: both;
  height:600px;
  background-color: khaki;
}
.content {
  width: 960px;
  height:600px;
  margin: 0 auto;
}
.content_top {
  width: 960px;
  height: 100px;
  float: left;
}
.content_top p {
  margin: auto;
  text-align: center;
  font-size: 30px;
  padding: 30px 0 0 40px;
  float: left;
  font-size: 30px;
}
.content_box1 {
  width: 320px;
  height: 410px;
  margin: 0;
  float: left;
}
.content_box1 img {
  width: 285px;
  padding: 0 17.5px;
}
.content_box2 {
  width: 320px;
  height: 100px;
  margin: 0;

  float: left;
}
.content_box2 p {
  font-size: 14px;
  text-align: center;
}
.content_box3 {
  width: 320px;
  height: 220px;
  margin: 0;
  float: left;
}
.content_box3 img {
  width: 285px;
  padding: 0 17.5px;
}
#footer_wrapper {
  width: auto;
  clear: both;
  background-color: black;
  height: 50px;
}
#footer {
  width: 960px;
  height: 50px;
  background-color: black;
  margin: 0 auto;
}
#footer p {
  width: 960px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  color: white;
  padding: 15px 0;
}
