@charset "shift_jis";

body{
     margin:0 auto; 
     background-color:black;
}
#wrapper{
         margin:0 auto; 
         width:960px;
}
#header{
        background-color:black;
        height:130px;
}
#logo{
      padding:20px 0 0 20px;
}
#header p{
          font-size:10px;
          padding:0 0 20px 30px;
          color: white;
          overflow: hidden; 
}                  
#main-navi{
           width:960px;       
           background-color:brown;
           height:60px;
           overflow: hidden;
           box-shadow: 1px 1px 3px grey;
}
#main-navi ul{
              padding-left:0;
}
#main-navi ul li{
                  float:left;
                  list-style: none;
                  text-align:center; 
                  padding:5px 42px 10px 42px;
}
#main-navi ul li a{
                   color:white;
}
                  
a:link{
       color:white;
       text-decoration: none;
}
a:visited{
          color:gray;
          text-decoration:none; 
}                         
a:hover{
        color:gray;
        text-decoration:underline; 
}
a:active{
         color:white;
         text-decoration:underline; 
}
#main-feature{
              overflow: hidden; 
              background-color:white;
              height:300px;
}
#second-feature{
                 overflow: hidden;
                 background-color: white;
                 height:750px;
                 width:960px;
}
.second-0{
          width:940px ;
          float:left;
          height:50px;
          margin:10px 10px 0 20px;
}
.second-0 h1{ 
             color: black;
             font-size:25px;
} 
.second-1{   
           height:700px;
}                                                                                
#footer{
        overflow:hidden; 
        background-color:black;
        height:280px ;
}       
.footer1{
         height:180px ;
         overflow:hidden;             
         float:left;
         width:960px;
         border-bottom:solid 1px white;
         border-top:solid 1px blanchedalmond; 
}
.footer1 p{
           line-height:23px;
           padding-left:20px;
           color:white;
           padding-top:20px;   
}                               
.footer2{
         height:60px ;                     
         float:left;
         width:960px;
}
.footer2 ul{
            padding-left:0;
}                      
.footer2  ul li{
                float:left;
                list-style: none;
                text-align:center; 
                padding:5px 42px 10px 42px;
}
.footer2  ul li a{
                  color:white;
}
.footer3{
         height:40px ;
         background-color:brown;
         float: left;
         width:960px;
}            
.footer3 p{           
           text-align: center;
           color:white;
           line-height:10px; 
}       