@charset "UTF-8";
body {
  font-family: "Courier New", Courier, monospace;
  margin: 0 auto;
  background-color: white;
}
/*header*/
.header {
  background-color: white;
  position: fixed;
  /*基準を画面の左上に*/
  top: 0;
  left:0;
  /*余白が入らないように*/
  margin: 0;
  /*以下装飾*/
  width: 100%;
}
.logo img {
  width: 280px;
}
.navbar {
  max-width:960px;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: white;
}

.nav ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav li {
  padding: 0 20px;
  text-align: center;  
}
.nav img {
  width:50px;
}
a:link {
  color: dimgray;
  text-decoration: none;
}
a:visited {
  color: dimgray;
  text-decoration: none;
}
a:hover {
  color: #1658a1;
  text-decoration: none;
}
/*maining*/
.maining{
    background-color: white;
    margin-top:100px ;
}

.image{
  max-width: 960px;
  margin: 0 auto;
  display:flex;
  align-items: center;
  justify-content: center;  
}
.image img{
  width: 100%;
}
/*content*/
.content{
  display: flex;
  max-width: 960px;
  margin: 0 auto;

}
.main{
  text-align: center;
  font-size:18px ; 
  color:gray; 
}
.section{
  display: flex;
  align-items:flex-start;
  justify-content: center;
  font-size:12px ;
}
.picture{
  flex:5;
  padding:10px;
  transition-duration: 0.3s;
  height:250px;
  
}
.picture img{
  width:100% ;
  cursor: pointer;
}
.picture:hover {
  box-shadow:10px 10px 15px -10px;
  transition-duration: 0.3s;
 
}

.desc{
  flex:5;
  line-height:24px;
  font-size:14px ;
  
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 20px 0;
 
}

/*footer*/
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  background-color: white;
  color: black;
  font-size: 8px;
}
/*ipad*/
@media (max-width:980px) {
.navbar {
  flex-direction: column;
  justify-content: space-around;
}
.nav ul {
  flex-wrap: wrap;
  
}
.nav a {
  color: dimgray;
  
}
.section{
  flex-direction: column;
}
.section_1{
  flex-direction: column-reverse;
}
.maining {
  margin-top: 170px;
   
 }
}
/*phone*/
@media (max-width:640px) {
.navbar {
  flex-direction: column;
  justify-content:center; 
}
.nav ul {
  flex-wrap: wrap; 
}
.nav ul li{
  justify-content: center;
}
.nav a {
  font-size: 12px;
}
.nav li a:after {
  content: '';
  width: 0;
  transition: all 0.3s ease;
  border-bottom: 3px solid white;
  display: block;
}
.nav li a:hover:after {
  width: 100%;
  border-bottom: 3px solid white;
}

.logo img {
  width: 200px;
}
.maining {
  margin-top: 140px;
   
 }
.main{
 font-size:14px ;   
}
.section{
  flex-direction: column;
}
.section_1{
  flex-direction: column-reverse;
}
.picture{
  flex:5;
  padding:10px;
  transition-duration: 0.3s;
  height:300px;
  
}
.desc{
  flex:2;
  line-height:16px;
  font-size:12px ;
  padding: 0 10px;
  
}
.nav img {
  width:30px;
}
}